src/main/mule/new-jenkins-ci-cd.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:api-gateway="http://www.mulesoft.org/schema/mule/api-gateway" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/api-gateway http://www.mulesoft.org/schema/mule/api-gateway/current/mule-api-gateway.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="78356cb6-b64c-464a-b658-c5dedbd11b96" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	
		<flow name="new-jenkins-ci-cdFlow" doc:id="2aac5975-768c-4512-a2ea-6bcbe579c026" >
		<http:listener doc:name="Listener" doc:id="c3cee25c-ef78-48c1-8a6c-3dd1e487da8e" config-ref="HTTP_Listener_config" path="/test"/>
		<logger level="INFO" doc:name="Logger" doc:id="1273fd16-12f0-4dc4-8aa8-230d4959a897" message="#[payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="c0911814-a363-44bc-bfb6-fb5c7daee19e" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message": "success"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
